{
    "presets": [
        ["env",
        {"targets": {
                "browsers": [
                    "Chrome >= 59",
                    "FireFox >= 44",
                    "Safari >= 7",
                    "Explorer 11",
                    "last 4 Edge versions"
                ]
            },
            "useBuiltIns": true
        }],
        "react",
        "stage-1"
    ],
    "ignore": [
      "node_modules"
    ],
    "plugins": [
        "react-hot-loader/babel",
        "transform-react-pug",
        "transform-react-jsx-source",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-react-jsx",
        "transform-flow-strip-types",
        "transform-object-rest-spread"
    ]
}