header, nav, aside, section, footer {
    border-style: solid;
    border-width: 2px;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
    border-color: black;
}

footer, header {
    color: white;
}

body {
    background-color: #222;
    display: flex;
    flex-wrap: wrap;
}

input {
    display: inline-block;
}

.error {
    color: red;
    display: inline-block;
    font-weight: bold;
}

/*HEADER*/

header {
    background-color: #555;
    min-height: 40px;
}

body > header {
    width: 100%;
}

/*NAV*/

nav {
    background-color: orange;
    width: 100%;
}

/*SECTION*/

section {
    background-color: orange;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}

section header {
    height: auto;
    background-color: white;
}

section footer {
    height: 40px;
}

/*ASIDE*/

aside {
    background-color: white;
    width: 12.5%;
}


/*FOOTER*/

footer {
    background-color: #555;
    min-height: 50px;
}

body > footer {
    width: 100%;
}


/*RESPONSIVE STYLES*/

@media (max-width: 767px) {
    nav {
        width: 100%;
    }
    aside {
        width: 100%;
    }
}

@media (max-width: 991px) {
    aside {
        width: 100%;
    }
}

@media (min-width: 1201px) {
    body {
        max-width: 1170px;
        margin: auto;
    }
}


/*BUTTONS*/

.btn {
    color: black;
    background-color: orange;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 15px;
    margin-top: 10px;
    line-height: 2;
}

.btn:hover {
    box-shadow: inset 0 0 0 1px #888,0 5px 15px #444;
}

.btn:active {
    box-shadow: inset 0 0 0 1px #999,inset 0 5px 30px #444;
}

.btnWhite {
    background-color: white;
}

/*GAME*/

#gameContainer {
    display: inline-block;
    margin: auto;
    border-style: solid;
    border-width: 2px;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
    background-color: #555;
    line-height: 0;
}

#gameContainer > div {
    background-color: #555;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin: 1px;
    display: inline-block;
}

#gameContainer > div:hover {
    background-color: #ccc;
}

section, aside, footer > form, #restart {
    visibility: hidden;
    position: absolute;
}

td, th {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

th {
    background-color: #333;
}

header > button {
    visibility: hidden;
    position: absolute;
}